/* Header */
body{
    background-color: #4B994F;
    color: #FFF59D;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: #8BC34A;
}
.logo{
    width: 60px;
    height: 60px;
}
/* forms */
input{
    border: none;
    border-bottom: 2px solid #8BC34A;
    background-color: #4B994F;
}
::placeholder{
    color: #FFF59D;
    opacity: 0.5;
    
}
/* probleme changement couleur placeholder date */
::-webkit-calendar-picker-indicator {
    color: #FFF59D;
}
::-ms-input-placeholder{
    color: #FFF59D;
    opacity: 0.5;
}

/* Tentative menu deroulant */
.menuList {
    display: none;
}
.menuList.active {
    position: absolute;
    right: 0%;
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8BC34A;
    color: #FFF59D;
    font-size: 20px;
}
.menuItems{
    
    text-decoration: none;
    color: #FFF59D;
}
.linkColor{
    color:#FFF59D;
}

#menuListContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/* premiere catégorie */
.presentation{
    height: 80vh;
    background-image: url(../img/jackWalk.webp); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4B994F;
}
.presentationText{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.catchZone{
    background-color: #4B994F;
}

/* attraction zone */
.attractionZone{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.attractionZone h2{
    text-align: center;
}

.dogOnPc{
    border-radius: 50%;
    width: 100%;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: #8BC34A;
}


/* footer */
footer{
    background-color:#8BC34A;
}
.logoFooter{
    display: flex;
    justify-content: space-between;
}
.logoIcon{
    font-size: 2rem;
    color: #FFF59D;
}



/* formulaires d'inscription */
.form{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.spacingInput{
    /* width: 200px; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.asterix{
    font-size: 12px;
    line-height: 1em;
}

/* signInOk */

.SignInOkText{
    display: flex;
    flex-direction: column;
    text-align: center;

}
/* profils */

.addAPhotoParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
}
.addAPhoto{
    width: 150px;
    border: solid 1px black;
    height: 40%;
}
.shortDescription{
    height: 60px;
}
